<!-- Copyright (c) 2020 Gonzalo Müller Bravo. -->
<!DOCTYPE html>
<html>
  <head>
    <meta
      name="format-detection"
      content="telephone=no"
    >
    <meta
      name="msapplication-tap-highlight"
      content="no"
    >
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, viewport-fit=cover"
    >
    <meta
      http-equiv="content-type"
      content="text/html; charset=UTF-8"
    >
    <title>
      Base code React Typescript
    </title>
    <link rel="icon" type="image/png" href="favicons/favicon-310.png" sizes="310x310" />
    <link rel="icon" type="image/png" href="favicons/favicon-192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="favicons/favicon-144.png" sizes="144x144" />
    <link rel="icon" type="image/png" href="favicons/favicon-128.png" sizes="128x128" />
    <link rel="icon" type="image/png" href="favicons/favicon-114.png" sizes="114x114" />
    <link rel="icon" type="image/png" href="favicons/favicon-96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicons/favicon-72.png" sizes="72x72" />
    <link rel="icon" type="image/png" href="favicons/favicon-48.png" sizes="48x48" />
    <link rel="icon" type="image/png" href="favicons/favicon-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicons/favicon-16.png" sizes="16x16" />
    <link
      rel="stylesheet"
      href="bulma.css"
    />
    <link
      rel="stylesheet"
      href="variable.css"
    />
  </head>
  <body>
    <div id="root">
    </div>
    <div style="position: absolute;right: 0;bottom: 0;font-size:small;text-align:right">
      <div>
        Build with :
      </div>
      <div>
        <a
          href="https://www.npmjs.com/package/react-reducer-provider"
        >
          react-reducer-provider
        </a>
      </div>
      <div>
        <a
          href="https://www.npmjs.com/package/eslint-plugin-base-style-config"
        >
          eslint-plugin-base-style-config
        </a>
      </div>
      <div>
        <a href="https://www.npmjs.com/package/eslint-plugin-regex">
          eslint-plugin-regex
        </a>
      </div>
      <div>
        among others. ;)
      </div>
    </div>
  </body>
</html>
